body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #051B54;    
    color: white;
}

.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-outline-secondary{
    color: #051B54;
}

.dropdown-toggle-split{
    color: #051B54;
}

.container{
    box-shadow: 0 0 0.18em black;
    max-width: 97%;
}

.etiquetafecha{
    box-shadow: inset 0 0 0.1em grey;
}

.d-flex{
    background-color: #FFFFFF33;
}

#login{
    color: white;
}